.header {
	overflow: hidden;
	background-color: #231123;
	color: #EFF7FF;
	font-family: 'Courier New', monospace;
	text-align: center;
	padding: 1%;
	cursor:default;
}

.topLine {
	font-size: 32px;
	padding-bottom: 1%;
}

.middleLine {
	font-size: 18px;
	padding-bottom: 1%;
}

.bottomLine a {
	padding: 1%;
	font-size: 18px;
	font-weight: bold;
	cursor:pointer;
}

	