doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='../styles/index.css')
		script(type="module" src="../script/index.js")
			
		title Aidan Jennings' Website
	body
		h1.fullName Aidan N. Jennings
		h2.subtitles Engineer, Programmer, Person
		p More Comming Soon!
