.projects {
	
	padding-bottom: 2%;
	background-color: #C4A381;
	border-radius: 10px;
	color: #231123
}

.intro {
	white-space: pre-wrap;
	font-size: 24px;
	text-align: center;
}

a {
	color: #EFF7FF;
	text-decoration: none;
}

a:hover {

}

button {
	color: black;
	text-align: center;
	background-color: #558C8C;
	border: none;
	border-radius: 2px;
	font-size: 18px;
	padding: 1%;
}

#gitRepo {
	border-style: solid;
	border-color: #231123;
	padding-left: 2%;
	background-color: #558C8C;
}

#loop {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2%;
}

#repoName {
}

#repoLang {
}


