<div class="main">
	<div class="list">
		<h1>Education:</h1>
		<h2>University of Wisconsin: Madison</h2>
		<h2>Majored in Computer Engineering and Computer Science</h2>
		<h2>Cumulative GPA 3.081</h2>
	</div>
	<div class="list">
		<h1>Technologies I have worked with:</h1>
		<h2>AVR/STM Microcontrollers</h2>
		<h2>Verilog</h2>
		<h2>HTML/CSS</h2>
		<h2>Node.js</h2>
		<h2>Angular.js</h2>
		<h2>Altium Designer</h2>
		<h2>C/C++</h2>
		<h2>Java</h2>
	</div>
	<div class="list">
		<h1>Organizations:</h1>
		<h2>Enlight Computer Projects Club</h2>
		<h3>President 2019-2020</h3>
	</div>	
</div>
