.header {
	overflow: hidden;
	background-color: #e2e2e2;
}

.fullName {
	font-size: 36px;
	font-weight: bold;
}

.rightSide {
	float: right;
	padding: 2%;
}

.leftSide {
	float: left;
	padding: 2px;
}

.description {
	font-size: 18px;
}

.links a {
	padding: 18px;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
}

.links a:hover {
	border-radius: 20px;
	background-color: #b1b1b1;
}

	