<div class="about">
	<div class="header">
		<p class="greeting">
			{{ greeting }}
		</p>
		<p class="intro">
			My name is Aidan Jennings, I am a Computer Engineering student at UW Madison.<br>
			I enjoy working on Embedded Systems, Web Development, and Circuit Design
		</p>
		<div class="quick">
			<div class="links">
				<a href="./../assets/resume.pdf">Resume</a>
				<a href="https://github.com/anjennings/">Github</a>
				<a href="https://www.linkedin.com/in/aidan-jennings-2568aa158/">LinkedIn</a>
			</div>
		</div>
		<button class="reveal" (click)="knowMore()">Would you like to know more?</button>
		<app-know-more *ngIf="showKnowMore"></app-know-more>
	</div>
</div>
