doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='./../styles/index.css')
		script(type="module" src="./../script/index.js")
			
		title Aidan Jennings' Website
	body
		div.header
			h1.fullName Aidan N. Jennings / Engineer, Programmer, Person 
			h2.emailAddress anjennings@wisc.edu
		
		p Please hire me
